* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

/* Shared Style */


/* Main Style */

body {
    /* border: 1px solid black; */
    max-width: 80%;
    margin: 0px auto;
    background-color: rgba(245, 245, 245, 1);
}

nav {
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 70px;
}

#nav-btn {
    padding: 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-style: SemiBold;
    font-weight: 600;
}

#banner {
    padding: 60px 70px;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#banner-content {
    max-width: 530px;
}

#banner-content p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

#banner-content h2 {
    font-size: 49px;
    font-weight: 700;
    margin-top: 16px;
}

#banner-content-btn button {
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
}

#banner-img img {
    max-width: 405px;
}

#pillar {
    /* border: 1px solid black; */
    margin-top: 80px;
}

#pillar h2 {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

#pillar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.pillar-card {
    background-color: #FFFFFF;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.pillar-card h3,
.vision-card h3 {
    color: #0E0E0E;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

.pillar-card p,
.vision-card p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-top: 12px;
}

#vision {
    /* border: 1px solid black; */
    margin-top: 80px;
}

#vision-heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

#vision-heading p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-top: 24px;
}

#vision-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.vision-card {
    padding: 32px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

.v-card-2 {
    background: rgba(198, 228, 214, 1);
}

.v-card-3 {
    background: rgba(247, 235, 207, 1);
}

.vision-btn button {
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    background-color: #5490F5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

.v-btn-2 button {
    background-color: #09A15C;
}

.v-btn-3 button {
    background-color: #FFC239;
}

#vision-footer {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 48px 24px;
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 24px 25px;
    margin-top: 32px;
}

#vision-footer p:first-child {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#vision-footer h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

#vision-footer p:last-child {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}

#opinion {
    margin-top: 80px;
}

#opinion-heading h2 {
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}

#opinion-box {
    padding: 32px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    margin-top: 24px;
}

.opinion-card {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.opinion-card-1 {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(198, 228, 214, 1);
}

.opinion-card-1 h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
}

.opinion-card-common {
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion-card-common h3 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 14px;
    color: rgba(14, 14, 14, 1);
}

.motamot {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}

select {
    padding: 10px 14px;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    background: rgba(198, 228, 214, 1);
    font-size: 16px;
    font-weight: 500;
}

#news {
    margin-top: 80px;
}
#news-heading h2 {
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}

#news-heading p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

#news-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

.news-card {
    /* border: 1px solid black; */
    padding: 48px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.news-card-img img {
    border-radius: 24px;
}

.news-content h2 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

#date-time {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

#date-time span {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.news-content p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}

.news-content button {
    border: none;
    border-radius: 8px;
    padding: 13px 26px;
    background: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
}