* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

/* Shared Style */


/* Main Style */

body {
    /* border: 1px solid black; */
    max-width: 80%;
    margin: 0px auto;
    background-color: rgba(245, 245, 245, 1);
}

nav {
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 70px;
}

#nav-btn {
    padding: 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-style: SemiBold;
    font-weight: 600;
}

#banner {
    padding: 60px 70px;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#banner-content {
    max-width: 530px;
}

#banner-content p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

#banner-content h2 {
    font-size: 49px;
    font-weight: 700;
    margin-top: 16px;
}

#banner-content-btn button {
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
}

#banner-img img {
    max-width: 405px;
}

#pillar {
    /* border: 1px solid black; */
    margin-top: 80px;
}
#pillar h2 {
    font-size: 40px;
    font-weight: bold;
}
#pillar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}
.pillar-card {
    background-color: #FFFFFF;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.pillar-card h3 {
    color: #0E0E0E;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}
.pillar-card p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-top: 12px;
}